<div class='account-dropdown__body'>
	<div class='account-dropdown__item'>

	</div>
</div>
<div class='account-dropdown__footer'>
	<a href='#' onclick='vista.cerrarSesion();'>
	<i class='zmdi zmdi-power'></i>Cerrar sesión</a>
</div>